<header>
  <div class="pattern">
    <div class="container">
      <h1>
        <%= yield :headline %>
      </h1>
    </div>
  </div>
</header>

<div id="search-navigation" class="nav centered">
  <ul class="nav nav-pills">
    <li><%= link_to (t '.súdy'),         search_courts_path %></li>
    <li><%= link_to (t '.sudcovia_1'),     search_judges_path %></li>
    <li><%= link_to (t '.pojednávania'), search_hearings_path %></li>
    <li><%= link_to (t '.rozhodnutia_1'),  search_decrees_path %></li>
    <li><%= link_to (t '.konania'),      search_proceedings_path %></li>
  </ul>
</div>

<div class="clearfix"></div>
