<% provide :title, title(@judge.name, 'Sudca') %>

<section id="judge-profile" class="profile">
  <div class="page-header">
    <h1>
      <%= @judge.name %>
    </h1>
  </div>

  <div class="row">
    <div class="span12">
      <%= render 'shared/social', classes: 'social-vertical pull-right' %>

      <% if @judge.employments.at_court_by_type(CourtType.supreme).any? || @judge.employments.at_court_by_type(CourtType.regional).any? %>
        <p class="text-error">
          <%= t '.Údaje_o_html', :icon_tag => (icon_tag :'warning-sign') %>
        </p>
      <% end %>

      <% @employments.each do |employment| %>
        <p>
          <span class="gutter centered">
            <%= judge_activity_tag employment.active, tooltip: !employment.active.nil? %>
          </span>
          <% case employment.active %>
          <% when true %>
            <%= t '.aktívn', :judge_probably => (@judge.probably_woman ? 'a' : 'y') %>
          <% when false %>
            <%= t '.neaktívn', :judge_probably => (@judge.probably_woman ? 'a' : 'y') %>
          <% end %>
          <% if employment.judge_position %>
            <%= (employment.active == nil ? 'P' : 'p') + (@judge.probably_woman ? 'racovníčka' : 'racovník') if employment.judge_position.charged? %>
            <%= @judge.probably_woman? && employment.judge_position.value == 'sudca' ? 'sudkyňa' : employment.judge_position.value %>
          <% else %>
            <% if @judge.probably_superior_court_officer? %>
              <%= t '.ravdepodobne', :employment => (employment.active == nil ? 'P' : 'p'), :tooltip_tag => (tooltip_tag "VSÚ", "Vyšší súdny úradník") %>
            <% else %>
              <%= t '.eznám', :employment => (employment.active == nil ? 'N' : 'n'), :judge_probably => (@judge.probably_woman ? 'a pracovníčka' : 'y pracovník') %>
            <% end %>
          <% end %>
          <%= t '.na_súde_zatia', :link_to_court => (link_to_court employment.court), :if_hearing => (if Hearing.during_employment(employment).exact.size.zero?), :translate_with => (translate_with_count(Hearing.during_employment(employment).exact.size, :hearing)), :translate_with_1 => (translate_with_count(Decree.during_employment(employment).exact.size, :decree)) %>
          <% if employment.note %>
            <br/>
            <%= t '.poznámka_html', :icon_tag => (icon_tag :pushpin), :employment => (employment.note) %>
          <% end %>
        </p>
      <% end %>

      <% @designations.each do |designation| %>
        <p>
          <%= t '.sudca_bol_html', :judge => (judge_designation_date_tag designation), :judge_1 => (judge_designation_date_distance designation), :designation => (designation.type.value.sub(/^\D{0,1), :if_designation => (if designation.type) %>
        </p>
      <% end %>

      <% if File.readable? @judge.curriculum_path %>
        <p>
          <%= t '.ktorý_bol_html', :icon_tag_file => (icon_tag :'file-text-alt'), :external_link => (external_link_to "Životopis", curriculum_judge_path(@judge)) %>
        </p>
      <% end %>

      <% if File.readable? @judge.cover_letter_path %>
        <p>
          <%= t '.ktorý_bol_html', :icon_tag_file => (icon_tag :'file-text-alt'), :external_link => (external_link_to "Motivačný list", cover_letter_judge_path(@judge)) %>
        </p>
      <% end %>

      <% if @statistical_summaries.any? %>
        <p>
          <%= t '.po_et_html', :icon_tag_legal => (icon_tag :legal), :judge_released => (@judge.released_constitutional_decrees_total), :judge_delayed => (@judge.delayed_constitutional_decrees_total) %>
        </p>

        <% if @judge.appeal_court_acceptance_rate? %>
          <p>
            <%= t '.rozhodnutie_2_html', :icon_tag => (icon_tag :'thumbs-up-alt'), :number_to => (number_to_percentage(@judge.appeal_court_acceptance_rate * 100, precision: 1)), :popover_tag_html => (popover_tag icon_tag(:question), "#{@statistical_summaries.by_prominent_court_type(@judge).order('year desc').map { |summary| "#{summary.year}, #{summary.court.name}" }.join '<br/>'}", title: "Vypočítané z pôsobení sudcu", trigger: :hover) %>
          </p>
        <% end %>

        <% if @judge.unresolved_issues_counts? %>
          <p>
            <%= t '.nevybavených_html', :icon_tag_inbox => (icon_tag :inbox), :judge => (@judge.unresolved_issues_counts.map { |year, count| "na konci roka #{year} o #{count.abs} #{count > 0 ? 'viac' : 'menej'}" }.to_sentence.html_safe) %>
          </p>
        <% end %>

        <% if @judge.unfinished_issues_counts? %>
          <p>
            <%= t '.re_tan_ných_html', :icon_tag_inbox => (icon_tag :inbox), :judge => (@judge.unfinished_issues_counts.map { |year, count| "na konci roka #{year} o #{count.abs} #{count > 0 ? 'viac' : 'menej'}" }.to_sentence.html_safe) %>
          </p>
        <% end %>

        <% if @judge.unfinished_issues_rate? %>
          <p>
            <%= t '.podiel_re_tan_html', :icon_tag_tasks => (icon_tag :'tasks'), :judge => (@judge.unfinished_issues_rate.map { |year, rate| "#{number_to_percentage(rate * 100, precision: 1)} ku koncu roka #{year}" }.to_sentence.html_safe), :popover_tag_html => (popover_tag icon_tag(:question), "Vec, nevybavená dlhšie ako 6 mesiacov<br/>v&nbsp;prípade maloletých a&nbsp;dlhšie ako 1 rok<br/>v&nbsp;ostatných prípadoch.", title: "Reštančná vec", trigger: :hover) %>
          </p>
        <% end %>
      <% end %>

      <% if @judge.incomes_by_year.any? %>
        <p>
          <%= t '.príjmy_a_iné_html', :icon_tag_euro => (icon_tag :euro), :judge_incomes => (@judge.incomes_by_year.map { |year, _| link_to year, "#income-#{year}", :'data-parent' => :'#incomes', :'data-toggle' => :collapse }.to_sentence.html_safe) %>
        </p>
        <div id="incomes">
          <% @judge.incomes_by_year.each do |year, incomes| %>
            <div class="accordion-group">
              <div id="income-<%= year %>" class="collapse">
                <p>
                  <%= t '.príjmy_a_iné_html', :icon_tag_euro => (icon_tag :euro), :year => (year) %>:
                </p>
                <ul class="unstyled">
                  <% incomes.each do |income| %>
                    <li><%= t '.ndash_15', :icon_tag => (icon_tag :'credit-card'), :income => (income.description.upcase_first), :number_to => (number_to_currency income.value, precision: 2) %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @judge.related_people_by_year.any? %>
        <p>
          <%= t '.blízke_osoby_html', :icon_tag_group => (icon_tag :group), :judge_related => (@judge.related_people_by_year.map { |year, _| link_to year, "#related-people-#{year}", :'data-parent' => :'#related-people', :'data-toggle' => :collapse }.to_sentence.html_safe) %>
        </p>
        <div id="related-people">
          <% @judge.related_people_by_year.each do |year, people| %>
            <div class="accordion-group">
              <div id="related-people-<%= year %>" class="collapse">
                <p>
                  <%= t '.blízke_osoby_html', :icon_tag_group => (icon_tag :group), :year => (year) %>:
                </p>
                <ul class="unstyled">
                  <% people.each do |person| %>
                    <li><%= t '.key_3', :icon_tag_user => (icon_tag :user), :person => (person.function.upcase_first), :if_person => (if person.function), :link_to => (link_to_related_person(person)), :link_to_1 => (link_to_institution(person.institution)), :html_safe_if => (.html_safe if person.institution) %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @judge.substantiation_notes_by_year.any? %>
        <p>
          <%= t '.poznámky_k_html', :icon_tag => (icon_tag :pushpin) %>
        </p>
        <div id="substantiation-notes" class="collapse out">
          <ul class="unstyled">
            <% @judge.substantiation_notes_by_year.each do |year, note| %>
              <li><%= t '.výkaz_za_rok', :icon_tag_file => (icon_tag :'file-text-alt'), :year => (year), :note => (note) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section id="judge-tabs">
  <div class="row">
    <div class="span12">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <%= tab_link_to_with_count 'Rozhodnutia', '#decrees', @decrees.size, track_data(:'judge-decrees') %>
          </li>
          <li><%= tab_link_to_with_count 'Budúce pojednávania', '#upcoming-hearings', @upcoming_hearings.size, track_data(:'judge-upcoming-hearings') %></li>
          <li><%= tab_link_to_with_count 'Minulé pojednávania', '#historical-hearings', @historical_hearings.size, track_data(:'judge-historical-hearings') %></li>
          <li><%= tab_link_to_with_count 'V médiách', '#media', @results.size, track_data(:'judge-media') %></li>
        </ul>

        <div class="tab-content">
          <div id="decrees" class="tab-pane active">
            <%= render 'decrees', decrees: @decrees.limit(10), query: { judges: @judge.name } %>
          </div>

          <div id="upcoming-hearings" class="tab-pane">
            <%= render 'hearings', hearings: @upcoming_hearings.limit(10), query: { judges: @judge.name } %>
          </div>

          <div id="historical-hearings" class="tab-pane">
            <%= render 'hearings', hearings: @historical_hearings.limit(10), query: { judges: @judge.name, historical: true } %>
          </div>

          <div id="media" class="tab-pane">
            <%= render 'media', results: @results %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="judge-resource" class="resources">
  <div class="row">
    <div class="span12">
      <small class="muted">
        <%= t '.informácie_o_6', :judge_listed => (@judge.listed ? 'zo' : 'z'), :external_link => (external_link_to @judge.listed ? 'zoznamu' : 'dokumentu', @judge.uri, class: :muted, icon: true), :time_tag_judge => (time_tag @judge.updated_at.to_date, format: :default) %>
        <br/>
        <%= t '.tieto_1' %>
      </small>
    </div>
  </div>
</section>
