<div class="page-header">
  <h2>
    <%= link_to_court court %>
  </h2>
</div>

<div class="row">
  <div class="span8">
    <div class="justified">
      <% if court.chair || court.vicechair %>
        <% if court.chair %>
          <%= t '.súdu_je_1_html', :judge_at_court => (judge_at_court_position(court.chair, court).upcase_first), :link_to_judge => (link_to_judge court.chair), :court => (court.vicechair ? ' a' : '.') %>
        <% end %>
        <% if court.vicechair %>
          <% unless court.chair %>
            <%= t '.súdu_1_html', :judge_at_court => (judge_at_court_position(court.vicechair, court).upcase_first) %>
          <% else %>
            <strong><%= judge_at_court_position(court.vicechair, court) %></strong>
          <% end %>
          <%= t '.je_1_html', :link_to_judge => (link_to_judge court.vicechair) %>
        <% end %>
      <% end %>
      <% if court.judges.any? %>
        <%= t '.na_súde_1_html', :translate_with => (translate_with_count(court.judges.size, :judge)) %>
      <% end %>
      <%= t '.pre_súd_zatia_1_html', :if_court => (if court.hearings.size.zero?), :translate_with => (translate_with_count(court.hearings.size, :hearing)), :translate_with_1 => (translate_with_count(court.decrees.size, :decree)) %>
    </div>
  </div>
  <div class="span4">
    <address class="well well-small">
      <span class="muted pull-right"><%= icon_tag :envelope %></span>
      <strong><%= court.street %></strong>
      <br/>
      <%= court.municipality.zipcode %> <%= court.municipality.name %>
      <br/>
      <%= t '.slovenská_1' %>
    </address>
  </div>
</div>
