<h2><%= t '.vedenie_súdu' %></h2>

<div class="row">
  <div class="span12">
    <p>
      <% if @court.chair %>
        <%= t '.súdu_je_1', :judge_at_court => (judge_at_court_position(@court.chair, @court).upcase_first), :link_to_judge => (link_to_judge @court.chair), :court => (@court.vicechair ? ' a' : '.') %>
      <% end %>
      <% if @court.vicechair %>
        <% unless @court.chair %>
          <%= t '.súdu_1', :judge_at_court => (judge_at_court_position(@court.vicechair, @court).upcase_first) %>
        <% else %>
          <%= judge_at_court_position(@court.vicechair, @court) %>
        <% end %>
        <%= t '.je_1', :link_to_judge => (link_to_judge @court.vicechair) %>
      <% end %>
    </p>
  </div>
</div>

<hr/>

<h2><%= t '.sudcovia' %></h2>

<div class="row">
  <div class="span12">
    <% if @judges.active.listed.any? %>
      <p>
        <%= t '.tabu_ka_sudcov' %>
      </p>

      <%= render 'judge_list', court: @court, judges: @judges.active.listed %>
    <% end %>

    <% if @judges.not_active_or_not_listed.any? %>
      <br/>

      <p>
        <%= t '.tabu_ka_sudcov_1' %>
      </p>

      <%= render 'judge_list', court: @court, judges: @judges.not_active_or_not_listed %>
    <% end %>
  </div>
</div>
