<div class="row">
  <div class="span12">
    <h2><%= name %></h2>
  </div>

  <div class="span8">
    <% if office.phone? %>
      <div class="row">
        <div class="span2">
          <%= t '.tel_íslo_html', :icon_tag_phone => (icon_tag :phone) %>
        </div>
        <div class="span6">
          <%= court_phone office %>
        </div>
      </div>
    <% end %>

    <% if office.email? %>
      <div class="row">
        <div class="span2">
          <%= t '.e_mail_html', :icon_tag => (icon_tag :'envelope-alt') %>
        </div>
        <div class="span6">
          <%= court_email office %>
        </div>
      </div>
    <% end %>

    <% if office.note? %>
      <div class="row">
        <div class="span2">
          <%= t '.poznámka_html', :icon_tag => (icon_tag :pushpin) %>
        </div>
        <div class="span6">
          <%= office.note %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="span4">
    <table class="table table-condensed table-bordered table-striped">
      <thead>
        <th colspan="2">
          <%= t '.otváracie', :icon_tag_time => (icon_tag :time) %>
        </th>
      </thead>
      <tbody>
        <tr>
          <td class="span1"><%= t '.pondelok' %></td>
          <td class="span2"><%= office.hours_monday %></td>
        </tr>
        <tr>
          <td class="span1"><%= t '.utorok' %></td>
          <td class="span2"><%= office.hours_tuesday %></td>
        </tr>
        <tr>
          <td class="span1"><%= t '.streda' %></td>
          <td class="span2"><%= office.hours_wednesday %></td>
        </tr>
        <tr>
          <td class="span1">Š<%= t '.tvrtok' %></td>
          <td class="span2"><%= office.hours_thursday %></td>
        </tr>
        <tr>  
          <td class="span1"><%= t '.piatok' %></td>
          <td class="span2"><%= office.hours_friday %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
