<%= search_list_tag results, offset: offset do |court| %>
  <li>
    <h4>
      <%= link_to_court court %>
      <br/>
      <small><%= court.address %></small>
    </h4>

    <div class="search-result-content">
      <% if court.chair || court.vicechair %>
        <% if court.chair %>
          <%= t '.súdu_je', :judge_at_court => (judge_at_court_position(court.chair, court).upcase_first), :link_to_judge => (link_to_judge court.chair), :court => (court.vicechair ? ' a' : '.') %>
        <% end %>
        <% if court.vicechair %>
          <% unless court.chair %>
            <%= t '.súdu', :judge_at_court => (judge_at_court_position(court.vicechair, court).upcase_first) %>
          <% else %>
            <%= judge_at_court_position(court.vicechair, court) %>
          <% end %>
          <%= t '.je', :link_to_judge => (link_to_judge court.vicechair) %>
        <% end %>
        <br/>
      <% end %>
      <% if court.judges.active.listed.any? %>
        <%= t '.na_súde', :translate_with => (translate_with_count(court.judges.active.listed.size, :judge)) %>
      <% end %>
      <%= t '.pre_súd_zatia', :if_court => (if court.hearings.size.zero?), :translate_with => (translate_with_count(court.hearings.size, :hearing)), :translate_with_1 => (translate_with_count(court.decrees.size, :decree)) %>
    </div>
  </li>
<% end %>
