<%= search_list_tag results, offset: offset do |hearing| %>
  <li>
    <h4>
      <%= link_to_hearing hearing, hearing_headline(hearing, limit: 67) %>
      <br/>
      <small>
        <%= t '.pojednávanie_d', :hearing => (hearing.historical ? "malo prebehnúť" : "prebehne"), :hearing_date => (hearing.date ? hearing_date(hearing.date) : "neznámy dátum") %>
      </small>
    </h4>

    <% if hearing.unprocessed? %>
      <div class="alert alert-error">
        <%= t '.pojednávanie', :icon_tag => (icon_tag :'warning-sign') %>
      </div>
    <% elsif hearing.has_future_date? %>
      <div class="alert alert-warning">
        <%= t '.dátum', :icon_tag => (icon_tag :'warning-sign') %>
      </div>
    <% end %>

    <div class="search-result-content">
      <div class="search-result-identifiers pull-right">
          <%= tooltip_tag hearing.case_number || '?', "Spisová značka", placement: :right %><br/>
          <%= tooltip_tag hearing.file_number || '?', "Identifikačné číslo súdneho spisu", placement: :right %>
      </div>

      <% if hearing.court %>
        <%= t '.súd_ndash', :link_to_court => (link_to_court hearing.court) %>
        <br/>
      <% end %>
      <% if hearing.judges.normal.any? %>
        <% if hearing.judges.normal.exact.any? %>
          <%= t '.ndash_7', :translate => (translate_without_count(hearing.judges.normal.exact.size, :judge).upcase_first), :links_to => (links_to_judges hearing.judges.normal.exact) %>
        <% else %>
          <%= t '.ndash_8', :translate => (translate_without_count(hearing.judges.normal.inexact.group(:judge_name_unprocessed).count.size, :judge).upcase_first), :judge => (judge_processed_names hearing.judges.normal.inexact) %>
        <% end %>
        <br/>
      <% end %>
      <% if hearing.proposers.any? %>
        <%= t '.ndash_9', :translate => (translate_without_count(hearing.proposers.size, :proposer).upcase_first), :hearing => (hearing.proposers.pluck(:name).to_sentence) %>
        <br/>
      <% end %>
      <% if hearing.opponents.any? %>
        <%= t '.ndash_10', :translate => (translate_without_count(hearing.opponents.size, :opponent).upcase_first), :hearing => (hearing.opponents.pluck(:name).to_sentence) %>
        <br/>
      <% end %>
      <% if hearing.defendants.any? %>
        <%= t '.ndash_11', :translate => (translate_without_count(hearing.defendants.size, :defendant).upcase_first), :hearing => (hearing.defendants.pluck(:name).to_sentence) %>
        <br/>
      <% end %>

      <div class="clearfix"></div>
    </div>
  </li>
<% end %>
