<% provide :title, hearing_title(@hearing) %>

<section id="hearing-profile" class="profile">
  <div class="page-header">
    <h1>
      <%= hearing_headline @hearing, limit: 45, tooltip: true %>
      <br/>
      <small>
        <%= t '.pojednávanie_d_1', :hearing => (@hearing.historical ? "malo prebehnúť" : "prebehne"), :hearing_date => (@hearing.date ? hearing_date(@hearing.date) : "neznámy dátum") %>
      </small>
    </h1>
  </div>

  <%-# All hearing types -%>

  <div class="row">
    <div class="span8">
      <% if @court %>
        <p><%= t '.sa_na_súde_v', :hearing_type => (hearing_type @hearing.type), :hearing => (@hearing.historical ? "konalo" : "bude konať"), :link_to_court => (link_to_court @court), :hearing_room => (@hearing.room), :if_hearing => (if @hearing.room) %></p>
      <% end %>
      <% if @hearing.section || @hearing.special_type %>
        <p>
          <% if @hearing.section %>
            Ú<%= t '.sek_ndash', :hearing => (@hearing.section.value), :if_hearing => (if @hearing.special_type) %>
          <% end %>

          <%-# Civil hearings only -%>

          <% if @hearing.special_type %>
            <%= t '.yp_ndash', :hearing => (@hearing.section ? 't' : 'T'), :hearing_1 => (@hearing.special_type) %>
          <% end %>
        </p>
      <% end %>

      <%-# All hearing types -%>

      <% if @hearing.form %>
        <p><%= t '.forma_úkonu', :link_to => (link_to_hearings_search @hearing.form.value, params: { form: @hearing.form.value }) %></p>
      <% end %>
      <% if @hearing.subject %>
        <p><%= t '.predmet_ndash', :link_to => (link_to_hearings_search @hearing.subject.value, params: { subject: @hearing.subject.value }) %></p>
      <% end %>

      <%-# Special hearings only -%>

      <% if @hearing.commencement_date? %>
        <p><%= t '.dátum_zapo', :hearing_date => (hearing_date @hearing.commencement_date) %></p>
      <% end %>
      <% unless @hearing.selfjudge.nil? %>
        <p><%= t '.samosudca', :hearing => (@hearing.selfjudge ? 'áno' : 'nie') %></p>
      <% end %>

      <%-# All hearing types -%>

      <% if @hearing.note %>
        <p><%= t '.poznámka_ndash', :hearing_note => (@hearing.note) %></p>
      <% end %>

      <p><%= t '.odkaz_u_by', :external_link => (external_link_to 'Pôvodný dokument', @hearing.uri, icon: true), :tooltip_tag => (tooltip_tag 'nemusí', 'Viď poznámku na konci tohto dokumentu') %></p>
    </div>

    <%-# All hearing types -%>

    <div class="span4">
      <div class="well well-small">
        <p>
          <%= tooltip_tag "SZ", "Spisová značka", placement: :left %>:
          <span class="pull-right"><%= @hearing.case_number ? link_to_hearings_search(@hearing.case_number, params: { case_number: @hearing.case_number }) : "neuvedená" %></span>
        </p>
        <p>
          <%= tooltip_tag "IČS", "Identifikačné číslo súdneho spisu", placement: :left %>:
          <span class="pull-right"><%= @hearing.file_number ? link_to_hearings_search(@hearing.file_number, params: { file_number: @hearing.file_number }) : "neuvedené" %></span>
        </p>
      </div>

      <% if @hearing.proceeding %>
        <p class="centered">
          <%= t '.zobrazi_v', :icon_link_to => (icon_link_to :paste, "súdneho konania", @hearing.proceeding, join: :append) %>
        </p>
      <% end %>

      <%= render 'shared/social' %>
    </div>
  </div>
</section>

<%-# Civil hearings only -%>

<% if @proposers.any? %>
  <section id="hearing-proposers">
    <h2><%= t '.navrhovatelia' %></h2>

    <div class="row">
      <div class="span12">
        <ul>
          <% @proposers.each do |proposer| %>
            <li><%= proposer.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
<% end %>

<% if @opponents.any? %>
  <section id="hearing-opponents">
    <h2><%= t '.odporcovia' %></h2>

    <div class="row">
      <div class="span12">
        <ul>
          <% @opponents.each do |opponent| %>
            <li><%= opponent.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
<% end %>

<%-# Criminal and Special hearings only -%>

<% if @defendants.any? %>
  <section id="hearing-defendants">
    <h2><%= t '.ob_alovaní' %></h2>

    <div class="row">
      <div class="span12">
        <ul>
          <% @defendants.each do |defendant| %>
            <li>
              <%= defendant.name %>
              <% if defendant.accusations.any? %>
                <ul>
                  <% defendant.accusations.each do |accusation| %>
                    <li>
                      <% if accusation.paragraphs.any? %>
                        <%= accusation.paragraphs.pluck(:description).join ', ' %>,
                      <% end %>
                      <%= accusation.value %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
<% end %>

<%-# All hearing types -%>

<% if @judges.any? %>
  <section id="hearing-judges">
    <h2><%= t '.sudcovia_2' %></h2>

    <%-# Special hearings only -%>

    <% if @judges.chaired.any? %>
      <div class="row">
        <div class="span12">
          <%= t '.funkciu' %>
          <% if @judges.chaired.exact.any? %>
            <%= links_to_judges @judges.chaired.exact %><%= t '.key' %>
          <% else %>
            <%= judge_processed_names @judges.chaired.inexact %><%= t '.key_1' %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%-# Civil and Criminal hearings only -%>

    <% if @judges.normal.any? %>
      <div class="row">
        <div class="span12">
          <% if @judges.normal.exact.any? %>
            <%= links_to_judges @judges.normal.exact %>
          <% else %>
            <%= judge_processed_names @judges.normal.inexact %><%= t '.key_2' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
<% end %>

<section id="hearing-resource" class="resources">
  <div class="row">
    <div class="span12">
      <small class="muted">
        <%= t '.informácie_o_3', :external_link => (external_link_to 'dokumentu', @hearing.uri, class: :muted, icon: true), :time_tag => (time_tag @hearing.updated_at.to_date, format: :default) %>
        <br/>
        <%= t '.odkaz_na_u', :external_link => (external_link_to 'pôvodný dokument', @hearing.uri, class: :muted, icon: true) %>
        <% if File.readable? @hearing.resource_path %>
          <br/>
          <%= t '.z_toho_dôvodu', :link_to => (link_to_hearing_resource @hearing, icon_tag(:'file-alt', label: 'spracovaný dokument', join: :append), class: :icon) %>
        <% end %>
      </small>
    </div>
  </div>
</section>
