<div class="footer">
  <p>
    <%= t '.s_pozdravom' %> <br/>
    <%= t '.tím_projektu', :link_to => (link_to (t '.otvorené_súdy_8'), root_url) %>
  </p>
  <p class="muted">
    <%= t '.projekt' %>
  </p>
  <p class="muted">
    Ú<%= t '.silie_vyvori' %>
  </p>
  <p class="centered">
    <%= external_link_to "Podporte projekt Otvorené Súdy", 'http://transparency.darujme.sk/238', class: :'btn btn-large' %>
  </p>
</div>
