<%= search_list_tag results, offset: offset do |proceeding, highlight| %>
  <li>
    <h4>
      <%= link_to proceeding_path(proceeding, nil, params: { q: params[:q] }) do %>
        <%= proceeding_headline(proceeding, limit: 67) %>
        <% if proceeding.legislation_area_and_subarea.any? %>
          <br/>
          <%= proceeding_subject proceeding, limit: 67 %>
        <% end %>
      <% end %>
      <br/>
      <small>
        <%= t '.verejné_súdne' %>
        <% if proceeding.single_hearing? %>
          <%= t '.d_a_ndash', :proceeding => (proceeding.duration_events.first.historical ? "začalo" : "začne"), :proceeding_1 => (proceeding_date proceeding.duration_events.first.date) %>
        <% elsif proceeding.single_decree?  %>
          <%= t '.bolo_ukon_ené', :proceeding => (proceeding_date proceeding.duration_events.first.date) %>
        <% else %>
          <% unless proceeding.probably_closed? %>
            <%= t '.trvá_odo_d_a', :proceeding => (proceeding_date proceeding.duration_events.first.date) %>
          <% else %>
            <% if proceeding.duration_events.first.date.to_date == proceeding.duration_events.last.date.to_date %>
              <%= t '.prebehlo_d_a', :proceeding => (proceeding_date proceeding.duration_events.first.date, format: :normal) %>
            <% else %>
              <%= t '.trvalo_odo_d_a', :proceeding => (proceeding_date proceeding.duration_events.first.date, format: :normal), :proceeding_1 => (proceeding_date proceeding.duration_events.last.date, format: :normal) %>
            <% end %>
          <% end %>
        <% end %>
      </small>
    </h4>

    <div class="search-result-content">
      <div class="search-result-identifiers pull-right">
        <% proceeding.case_numbers.each do |number| %>
          <%= tooltip_tag number || '?', "Spisová značka", placement: :right %><br/>
        <% end %>
        <%= tooltip_tag proceeding.file_number || '?', "Identifikačné číslo súdnych spisov", placement: :right %>
      </div>

      <%= t '.evidujeme_a', :translate_with => (translate_with_count(proceeding.hearings.size, :hearing)), :translate_with_1 => (translate_with_count(proceeding.decrees.size, :decree)) %>
      <br/>
      <% if proceeding.courts.any? %>
        <%= t '.ndash', :translate => (translate_without_count(proceeding.courts.size, :court).upcase_first), :links_to => (links_to_courts proceeding.courts) %>
        <br/>
      <% end %>
      <% if proceeding.judges.any? %>
        <% if proceeding.judges_exact.any? %>
          <%= t '.ndash_1', :translate => (translate_without_count(proceeding.judges_exact.size, :judge).upcase_first), :links_to => (links_to_judges proceeding.judges_exact) %>
        <% else %>
          <%= t '.ndash_2', :translate => (translate_without_count(proceeding.judges_inexact.size, :judge).upcase_first), :judge => (judge_processed_names proceeding.judges_inexact) %>
        <% end %>
        <br/>
      <% end %>

      <div class="clearfix"></div>
    </div>

    <% if highlight %>
      <% highlight[:text].each do |text|  %>
        <blockquote>
          <%= strip_and_highlight text %>
        </blockquote>
      <% end %>
    <% end %>
  </li>
<% end %>
