<% provide :title, proceeding_title(@proceeding) %>

<section id="proceeding-profile" class="profile">
  <div class="page-header">
    <h1>
      <%= proceeding_headline @proceeding, limit: 50, tooltip: true %>
      <br/>
      <% if @proceeding.legislation_area_and_subarea.any? %>
        <%= proceeding_subject @proceeding, limit: 45, tooltip: true %>
        <br/>
      <% end %>
      <small>
        <%= t '.verejné_súdne_1' %>
        <% if @proceeding.single_hearing? %>
          <%= t '.d_a_ndash_1', :proceeding => (@proceeding.duration_events.first.historical ? "začalo" : "začne"), :proceeding_1 => (proceeding_date @proceeding.duration_events.first.date) %>
        <% elsif @proceeding.single_decree?  %>
          <%= t '.bolo_ukon_ené_1', :proceeding => (proceeding_date @proceeding.duration_events.first.date) %>
        <% else %>
          <% unless @proceeding.probably_closed? %>
            <%= t '.trvá_odo_d_a_1', :proceeding => (proceeding_date @proceeding.duration_events.first.date) %>
          <% else %>
            <% if @proceeding.duration_events.first.date.to_date == @proceeding.duration_events.last.date.to_date %>
              <%= t '.prebehlo_d_a_1', :proceeding => (proceeding_date @proceeding.duration_events.first.date, format: :normal) %>
            <% else %>
              <%= t '.trvalo_odo_d_a_1', :proceeding => (proceeding_date @proceeding.duration_events.first.date, format: :normal), :proceeding_1 => (proceeding_date @proceeding.duration_events.last.date, format: :normal) %>
            <% end %>
          <% end %>
        <% end %>
      </small>
    </h1>
  </div>

  <div class="row">
    <div class="span8">
      <p>
        <%= t '.pre_súdne', :unless => (unless @proceeding.probably_closed?), :translate_with => (translate_with_count(@hearings.size, :hearing)), :translate_with_1 => (translate_with_count(@decrees.size, :decree)) %>
      </p>
      <% if @courts.any? %>
        <p><%= t '.ndash_3', :translate => (translate_without_count(@courts.size, :court).upcase_first), :links_to => (links_to_courts @courts) %></p>
      <% end %>
      <% if @judges.any? %>
        <p>
          <% if @proceeding.judges_exact.any? %>
            <%= t '.ndash_4', :translate => (translate_without_count(@proceeding.judges_exact.size, :judge).upcase_first), :links_to => (links_to_judges @proceeding.judges_exact) %>
          <% else %>
            <%= t '.ndash_5', :translate => (translate_without_count(@proceeding.judges_inexact.size, :judge).upcase_first), :judge => (judge_processed_names @proceeding.judges_inexact) %>
          <% end %>
        </p>
      <% end %>
    </div>

    <div class="span4">
      <div class="well well-small">
        <% @proceeding.case_numbers.each do |number| %>
          <p>
            <%= tooltip_tag "SZ", "Spisová značka", placement: :left %>:
            <span class="pull-right"><%= number ? link_to_proceedings_search(number, params: { case_number: number }) : "neuvedená" %></span>
          </p>
        <% end %>
        <p>
          <%= tooltip_tag "IČS", "Identifikačné číslo súdnych spisov", placement: :left %>:
          <span class="pull-right"><%= @proceeding.file_number ? link_to_proceedings_search(@proceeding.file_number, params: { file_number: @proceeding.file_number }) : "neuvedené" %></span>
        </p>
        <% @proceeding.eclis.each do |ecli| %>
          <p>
            <%= tooltip_tag "ECLI", "European Case Law Identifier", placement: :left %>:
            <span class="pull-right"><%= ecli ? link_to_proceedings_search(ecli, params: { q: ecli }) : "neuvedený" %></span>
          </p>
        <% end %>
      </div>

      <%= render 'shared/social' %>
    </div>
  </div>
</section>

<section id="proceeding-timeline" class="timeline">
  <div class="row">
    <div class="span12">
      <p class="centered muted"><em><%= t '.sú_asnos' %></em></p>
      <ol class="unstyled">
        <% ([@events.last] + @events.reverse).each_cons(2) do |previous, event| %>
          <%= render event.class.name.downcase, event.class.name.downcase.to_sym => event, previous: previous %>
        <% end %>
        <li class="timeline-unknown">
          <h4>
            <%= t '.podanie_na_súd' %><br/>
            <small><%= t '.neznámy_dátum' %></small>
          </h4>
        </li>
      </ol>
      <p class="centered muted"><em><%= t '.minulos' %></em></p>
    </div>
  </div>
</section>

<section id="proceeding-resource" class="resources">
  <div class="row">
    <div class="span12">
      <small class="muted">
        <%= t '.informácie_o_2', :external_link => (external_link_to 'Ministerstva spravodlivosti Slovenskej republiky', JusticeGovSk::URL.base, class: :muted, icon: true) %>
      </small>
    </div>
  </div>
</section>
