<p>
  <%= t '.vitajte_na', :link_to => (link_to (t '.otvorené_súdy_2'), 'http://otvorenesudy.sk') %>,
</p>
<p>
  <%= t '.pre_potvrdenie', :link_to_potvdi => (link_to (t '.potvdi'), confirmation_url(@resource, confirmation_token: @token)) %>
</p>
<p>
  <%= t '.registráciu_je' %>
</p>
<p>
  <%= t '.v_prípade_1', :mail_to => (mail_to 'kontakt@otvorenesudy.sk', 'kontaktujte', encode: :hex) %>
</p>
<p>
  Ď<%= t '.akujeme_za_1' %>
</p>
