<p>
  <%= t '.dobrý_de' %>
</p>
<p>
  <%= t '.niekto_vy', :link_to_zmeni => (link_to (t '.zmeni_heslo'), edit_password_url(@resource, reset_password_token: @token)) %>
</p>
<p>
  <%= t '.pokia_ste' %>
</p>
<p>
  <%= t '.v_prípade', :mail_to => (mail_to 'kontakt@otvorenesudy.sk', 'kontaktujte', encode: :hex) %>
</p>
<p>
  Ď<%= t '.akujeme_za' %>
</p>
